.container {
    display: flex;
    width: 100%;
}

.investors {
    display: flex;
    margin: 30px 0;
}

.location {
    margin: 20px 0;
}

nav, .sidebar, .main {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.greet {
    border: darkblue 1px solid;
    padding: 15px 60px;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 25px;
    border: darkblue 1px solid;
}

.main {
    justify-content: center;
    align-items: center;
}

.main span {
    font-size: 1rem;
}

.main h1 {
    font-size: 3rem;
    /* color: rgb(255, 44, 72); */
    text-align: center;
}

.main h2 {
    font-size: 2rem;
    /* color: rgb(255, 44, 72); */
    text-align: center;
}

.investors h3 {
    text-align: center;
    margin: 0 40px;
}

.investors p {
    font-size: 2rem;
}

.main .buttons {
    display: flex;
    margin: 20px 0;    
}



