.container, .bottom {
    display: flex;    
    justify-content: space-evenly; 
    
}

h3, label {
    font-weight: bold;
    align-self: flex-start;
}

.form {
    width: 47vw;
}

input {
    height: 25px;
    border-radius: 20px;
    width: 70%;
    font-size: 1.1rem;
    margin: 8px 0;
}

.select {
    height: 25px;
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
}

.founderRegisterImage {    
    height: 80vh;
    /* position: relative; */
    margin: 100px 0;
    padding: 10px;
    width: 47vw;    
}

.row1, .row2, .row3 {
    display: flex;
    justify-content: space-between;     
}

.range {    
    background-color: rgb(212, 244, 255);
}

.range .goalHigh {
    margin-bottom: 20px;
}

.companyLocation, .fundraisingPeriod {
    display: flex;
    flex-direction: column;
}

.emailInput {
    width: 70%;
}

button {    
    border-radius: 50px;
    width: 60%;
    background-color: green;
    color: white;
    position: relative;
    margin-top: 20px;
    font-size: 2rem;
    align-self: center;
}

.magic {
    display: none
}