.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
form{
  display: flex;
  flex-direction: column;
  width: 20vw;
  position: relative;
  left: 5%;
  top: 10%;
  height: 25vh;
}
input{
  border:2px solid rgb(157, 157, 157);
  height: 8vh;
  margin: 0px;
  width: 58vh;
  margin: 5px;
  font-size: 25px;
  border-radius: 2px;
}
.top-h1{
  margin: 0px;
  padding: 10px;
}
.InvestorRegister{
  border-radius: 50px;
  width: 15vw;
  background-color: green;
  color: white;
  position: relative;
  left: 35%;
  font-size: 30px;
}
.registerImage{
  height: 100vh;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 50vw;
  bottom: 40px;
}
.investorcont{
  display: flex;
}
.Link{
  position: relative;
  left: 13%;
}